.root{
  --link-color:color: #2E2F42;
  --global-font-family:"Roboto", sans-serif;
  --logo-font-family:"Raleway", sans-serif;
  --link-logo:color: #434455;
  --global-withe-text:color: #F4F4FD;
}

.website {
  font-family: var(--global-font-family);
}

.logo-footer::before{
  color: blue;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
  text-decoration: none;
}
.footer .logo{
  color:#F4F4FD;
  text-decoration: none;
  
}
.logo::before{
  content: "WEB";
  color: blue;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
  text-decoration: none;
}
.logo{
  color: #2E2F42;
  text-decoration: none;
  font-family: var(--logo-font-family);
  font-weight: 800;
  size: 18px;
}

.link-logo a {
  color: var(--link-logo);
  text-decoration: none;
  size: 16px;
  line-height:1.5;
  margin-block-start: 0;

  
}
.pages a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  
  }

ul {
    list-style-type: none;
  }
.button-order:hover{
  background-color:#4D5AE5;
  color: #FFFFFF;
  cursor: pointer;
}
.hero{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  color: #FFFFFF;
  background-color: #2E2F42;
  width: 1200px;
}
.nav-menu{
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin-block-start: 0;

}
.pages{
  display: flex;
  justify-content: space-evenly;
  margin-block-start: 0;

}





















.about li h3{
  font-weight: 500;
  size: 20px;
  color: var(--link-color);
  line-height:1.5;
}
.about li p{
  size: 16px;
  color: var(--link-color);
  line-height:1.5;
}
.sub-heder{
  font-weight: 700;
  size: 36px;
  color: var(--link-color);
  line-height:40px;
}
.team{
  font-weight: 700;
  size: 36px;
  color: var(--link-color);
  line-height:40px;
}
.our-team h3{
  font-weight: 500;
  size: 20px;
  color: var(--link-color);
  line-height:1.5;
}
.our-team p{
  size: 16px;
  color: var(--link-logo);
  line-height:1.5;
}
.footer{
background-color: #2E2F42;
color: #F4F4FD;
line-height:1.5;
display: flex;
justify-content: flex-start;
}
.logo-studio{
  color: #FFFFFF;
  line-height:21px;
  
}
.buttons .all {
  font-weight: 500;
  color: #4D5AE5;
  background-color: #E7E9FC;
  width:69px;
  height:48px;
  padding:12px, 24px, 12px, 24px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  line-height:1.5;
}
.buttons .all:hover {
  background-color:#404BBF;
  color: #FFFFFF;
  }

  .buttons .web{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:116px;
    height:48px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:1.5;
  }
  .buttons .web:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
  .buttons .app{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:78px;
    height:48px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:1.5;
  }
  .buttons .app:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
  .buttons .design{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:101px;
    height:48px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:1.5;
  }
  .buttons .design:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
  .buttons .marketing{
    color: #4D5AE5;
    background-color: #E7E9FC;
    width:101px;
    height:48px;
    padding:12px, 24px, 12px, 24px;
    cursor: pointer;
    border: 1px;
    border-radius: 4px;
    font-weight: 500;
    line-height:1.5;
  }
  .buttons .marketing:hover{
    background-color:#404BBF;
    color: #FFFFFF;
  }
.container{
  width: 1200px;
}
.about {
  display: flex;
	justify-content: space-between;
  gap: 24px;

 }
 .section-img{
  display: flex;
  justify-content: center;
  gap: 24px;
 }
 .sub-heder{
  display: flex;
  justify-content: center;
 }
 .team{
  justify-content: center;
  display: flex;
 }
 .our-team{
  justify-content: center;
  display: flex;
  gap: 24px;
  background-color: white;
 }
 .team{
  background-color: #F4F4FD;
}
